node_modules

# ignore log output
*.log

# ignore all dotfiles except the whitelisted ones
.*
!.gitignore
!.nvmrc
!.solhint.json
!.eslintrc.json
!.prettierrc

.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

# Config files

